[package]
name = "poseidon252"
version = "0.1.0"
authors = [
  "zer0 <matteo@dusk.network>"
]
edition = "2018"

[dependencies]
curve25519-dalek = { version = "2", features = ["serde", "avx2_backend"] }
merlin = "2"
lazy_static = "1.3.0"
hades252 = { git = "https://github.com/dusk-network/hades252" }

[dependencies.bulletproofs]
git = "https://github.com/dusk-network/bulletproofs"
branch = "dalek-v2"
features = ["yoloproofs"]

[dev-dependencies]
rand = "0.7"
rand_core = "0.5"
criterion = "0.3"

[profile.dev]
opt-level = 3
debug = false
rpath = false
lto = false
debug-assertions = false
codegen-units = 16
panic = 'unwind'
incremental = false
overflow-checks = false


[profile.release]
debug = false
panic = 'abort'
lto = true
incremental = false
codegen-units = 1
